

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="height: 1000px;">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" class=img-responsive src="assets/logo.svg" alt="..." />
                <!-- Masthead Heading-->

                <!-- Masthead Subheading-->

                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" target='_blank' href="pages/pro">

                       Vous êtes chirurgien-dentiste
                    </a>
                </div>
                 <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" target='_blank' href="pages/public">

                        Vous êtes un patient
                    </a>
                </div>
            </div>
        </header>

        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <!-- Contact form JS-->
        <script src="../assets/jqBootstrapValidation.js"></script>
        <script src="../assets/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="assets/scripts.js"></script>
